<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="server.Properties.Settings.MedicalISConnectionString"
        connectionString="Data Source=.\;Initial Catalog=MedicalIS;Integrated Security=True;Connect Timeout=5"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <server.Properties.Settings>
            <setting name="RootPath" serializeAs="String">
                <value>D:\resources\demostorage\root</value>
            </setting>
            <setting name="MaxNumberOfStudiesReturned" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DnsLookupTimeout" serializeAs="String">
                <value>00:00:00.1000000</value>
            </setting>
            <setting name="UseFixedFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixedFolderPath" serializeAs="String">
                <value>c:\temp\dummydata</value>
            </setting>
            <setting name="KnownAEs" serializeAs="String">
                <value>test=192.168.2.53:11115,JPEG2000Lossy;other=123.23.3.2:104;OsiriX-Test=192.168.2.53:11112,JPEG2000Lossy;CURATEST=127.0.0.1:10108</value>
            </setting>
            <setting name="DebugMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnonymizedIPs" serializeAs="String">
                <value>192.168.2.53;</value>
            </setting>
            <setting name="AnonymizedAETs" serializeAs="String">
                <value>OsiriX-Test</value>
            </setting>
            <setting name="StandardReceiveFolder" serializeAs="String">
                <value>C:\Receive</value>
            </setting>
            <setting name="BatchImportSizeLimitForSecondaryPriority" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SecondaryPriorityStorageFolder" serializeAs="String">
                <value>C:\Receive.Prio2</value>
            </setting>
            <setting name="TemporaryReceiveFolder" serializeAs="String">
                <value>C:\Receive.Temp</value>
            </setting>
            <setting name="ReceiveFilter_ImageType" serializeAs="String">
                <value>^.*MOSAIC$</value>
            </setting>
            <setting name="ReceiveFilter_SeriesDescription" serializeAs="String">
                <value>^.*TENSOR$;^PhoenixZIPReport$;^3D_Application_Data$</value>
            </setting>
            <setting name="ReceiveFilter_Folder" serializeAs="String">
                <value>C:\Receive.Filtered</value>
            </setting>
            <setting name="ReceiveFilter_Keep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoAllowFind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoAllowStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverrideCharacterSet" serializeAs="String">
                <value>ISO_IR 100</value>
            </setting>
            <setting name="PatientNameSplitCharacterForFind" serializeAs="String">
                <value>^</value>
            </setting>
            <setting name="ListenPorts" serializeAs="String">
                <value>104</value>
            </setting>
        </server.Properties.Settings>
    </applicationSettings>
</configuration>
