<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="server.Properties.Settings.MedicalISConnectionString"
        connectionString="Data Source=.;Initial Catalog=MedicalIS;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="server.Properties.Settings.MedicalISConnectionString1"
        connectionString="Data Source=MATTHIAS-PC\;Initial Catalog=MedicalIS;Integrated Security=True;Connect Timeout=5"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
