<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="server.Properties.Settings.MedicalISConnectionString"
        connectionString="Data Source=.\;Initial Catalog=MedicalIS;Integrated Security=True;Connect Timeout=5"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <server.Properties.Settings>
            <setting name="RootPath" serializeAs="String">
                <value>D:\resources\demostorage\root</value>
            </setting>
            <setting name="KnownAEs" serializeAs="String">
                <value>test=192.168.2.53:11115,JPEG2000Lossy;other=123.23.3.2:104;OsiriX-Test=192.168.2.53:11112,JPEG2000Lossy</value>
            </setting>
            <setting name="ListenPort" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="AnonymizedIPs" serializeAs="String">
                <value>192.168.2.53;</value>
            </setting>
        </server.Properties.Settings>
    </applicationSettings>
</configuration>
